<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start</title>
    <link rel="stylesheet" href="{{ url_for('assets', path='bootstrap.min.css')}}">
    <style>
        body {
            display: flex;
            flex-flow: column;
            align-items: center;
        }
    </style>
</head>

<body class="container">
    <main>
        <h1>Apps loaded</h1>

        {% for app in apps %}
        <div class="m-3 p-3 border rounded">
            <h5>{{app.name}} — {{app.title}}</h5>
            <p>{{app.description}}</p>
            <hr>
            <a href="{{ url_for('start', app=app.name) }}">Start session</a>
            {% if sessions[app.name] %}
            <hr>
            <h6>Running sessions</h6>
            <ul>
                {% for sid in sessions[app.name] %}
                <li>
                    <a href="{{ url_for('run', app=app.name, sid=sid) }}">{{sid}}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        {% endfor %}
    </main>
</body>

</html>